body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

#profile-pic {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

#welcome-message {
    text-align: center;
    margin-top: 50px;
}

#bookings-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
